<a href="https://colab.research.google.com/github/waytoakash/waytoakash/blob/main/Activity_Tracker_Hood_Campaigns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pre_run

In [ ]:
import os
import numpy as np
import pandas as pd
import datetime
from datetime import datetime
from datetime import timedelta
import re
from dateutil.relativedelta import relativedelta #
from functools import reduce
from google.colab import drive
drive.mount('/content/drive', force_remount = True)
import gspread
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials #
import gspread
from google.auth import default
creds, _ = default()
gc = gspread.authorize(creds)
from gspread_dataframe import set_with_dataframe

def changeDateFormat(row):
  return pd.to_datetime(row, errors='coerce').dt.date

def changeDateTimeFormat(row):
  return pd.to_datetime(row, errors='coerce')

def cleanText(row):
  return row.str.upper().str.strip()

def get_data(spreadSheetId, rangeName):
    wb = gc.open_by_key(spreadSheetId)
    ws = wb.worksheet(rangeName)
    rows = ws.get_all_values()
    return rows
def get_data_df(spreadSheetId, rangeName):
  l = get_data(spreadSheetId, rangeName)
  ldf = pd.DataFrame.from_records(l[1:], columns = l[0])
  return ldf

def get_data_df_2(spreadSheetId, rangeName):
  l = get_data(spreadSheetId, rangeName)
  ldf = pd.DataFrame.from_records(l[2:], columns = l[1])
  return ldf

Mounted at /content/drive

#Paid Site Tracker

In [ ]:
                                                                                                                                                                                                                                                                                                #l = get_data("1o6PgMcZRQlTbreqVkvyp7Qj_NAI7Hihpn0qpLGBzmMM", "Form Responses")
#df = pd.DataFrame.from_records(l[2:], columns = l[1])
#df.drop(columns=['Finance Comments','Deposit Date', 'Bank','Check'],inplace=True)
#df=df[df['Confirmation']=='Received']
##
#spreadSheetId="1cB5-g9ejMZAACuLY537dNCPtr4ndkzoAeyYn1dmzuEc"
#rangeName="base data"
#wb = gc.open_by_key(spreadSheetId)
#ws = wb.worksheet(rangeName)
#wb.values_clear("base data!A:BK")
#set_with_dataframe(ws, df,row=1,col=1)

# Code 1(Hood Revenue Form- Finance (Responses) Till 30th Sep 2024)

In [ ]:
#l = get_data("1o6PgMcZRQlTbreqVkvyp7Qj_NAI7Hihpn0qpLGBzmMM", "Form Responses")
l = get_data("1UFXWeAWt017XAtEzl0EKxd-qjC4T6IeJYdzWWxLLOxo", "Form Responses")
df = pd.DataFrame.from_records(l[2:], columns = l[1])
df.drop(columns=['Deposit Date', 'Bank','Check'],inplace=True)
#
spreadSheetId="1hdB-7j00qR7VmKjDnEGrtkWr1YQIvpdHRRByoLT-D98"
rangeName="Sheet1"
wb = gc.open_by_key(spreadSheetId)
ws = wb.worksheet(rangeName)
wb.values_clear("Sheet1!A:BL")
set_with_dataframe(ws, df,row=1,col=1)

#Code 2: Activity Tracker

In [ ]:
#key = "14NMpc9Iv4h2PqKqnJHpYQ4fzeLml-LZPmL33YXv9R64"
#rangename= "Sheet1"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#df = get_data_df(key, rangename)
#df.rename(columns={'Activity ':'Activity','Date ':'Date'},inplace=True)

In [ ]:
#df['Activity'] = df['Activity'].str.replace(',', '/')
#df['Num_Elements'] = df['Activity'].str.split('/').apply(lambda x: len(x))
#df_split = df['Activity'].str.split('/')
#df_result = df.assign(Activity=df_split).explode('Activity').reset_index(drop=True)

In [ ]:
#df_result['Base Amount'] = pd.to_numeric(df_result['Base Amount'].str.replace(',', ''), errors='coerce')
#df_result['amt per activity'] = df_result['Base Amount'] / df_result['Num_Elements']
#df_result['Date'] = pd.to_datetime(df_result['Date'], dayfirst=True)

In [ ]:
#final=df_result[['Society ID','Society Name','Place','Date','Activity','amt per activity','Bank Name', 'Account Number','UTR','Brand Name']]
#final[['Activity', 'Society Name']] = final[['Activity', 'Society Name']].applymap(lambda x: x.upper() if isinstance(x, str) else x)
#final['Activity'] = final['Activity'].str.replace('[^A-Za-z0-9\s]', '', regex=True).str.strip()

In [ ]:
#final_rmp=final[['Society ID', 'Society Name', 'Place', 'Date',
#       'amt per activity', 'Activity','Bank Name','Account Number','UTR','Brand Name']]

In [ ]:
#def clean_account_number(account_number):
#    # Remove non-numeric characters
#    cleaned_number = re.sub(r'\D', '', str(account_number))
#    return cleaned_number
#final_rmp['Account Number'] = final_rmp['Account Number'].apply(clean_account_number)

In [ ]:
#key = "1iKgiRR-lOQ-zM6v6bh_1P3vkIujVCeBzVVr_nHuoDMU"
#rangename= "Society Master"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#sm = get_data_df(key, rangename)
#
#sm['VMSOnbDate'] = pd.to_datetime(sm['VMSOnbDate'], errors='coerce')
#sm['ERPOnbDate'] = pd.to_datetime(sm['ERPOnbDate'], errors='coerce')
#
#
#sm['MG Acquires Site Month'] = sm[['VMSOnbDate', 'ERPOnbDate']].min(axis=1)
#sm['MG Acquires Site Month'] = sm['MG Acquires Site Month'].dt.strftime("%b'%y")
#sm=sm[['Kibana ID','KAM Usage','MG Acquires Site Month']]
#sm.rename(columns={'Kibana ID':'Society ID','KAM Usage':'BAM'},inplace=True)

In [ ]:
#final_rmp['amt per activity'] = pd.to_numeric(final_rmp['amt per activity'])
#final_rmp['Date'] = pd.to_datetime(final_rmp['Date'], dayfirst=True, format='%Y-%m-%d')
#final_rmp['Place'] = final_rmp['Place'].str.upper().str.strip()
#
#latest_dates = final_rmp.groupby(['Society ID', 'Activity'])['Date'].max().reset_index()
#latest_dates.rename(columns={'Date': 'Latest_Activity_Date'}, inplace=True)
#
#final_merged = pd.merge(final_rmp, latest_dates, on=['Society ID', 'Activity'], how='inner')
#final_merged['Sum_Amt_Last_3_Months'] = final_merged.apply(lambda row: final_rmp[(final_rmp['Society ID'] == row['Society ID']) &
#                                                                               (final_rmp['Activity'] == row['Activity']) &
#                                                                               (final_rmp['Date'].between(row['Latest_Activity_Date'] - pd.DateOffset(months=3), row['Date']))]['amt per activity'].sum(), axis=1)

In [ ]:
#final_merged=pd.merge(final_merged,sm,on='Society ID',how='left')

In [ ]:
#final_merged['BAM'] = final_merged['BAM'].replace(['', np.nan], '-')

In [ ]:
#final_merged[['Bank Name', 'Account Number']] = final_merged[['Bank Name', 'Account Number']].replace(['', np.nan],'-')

In [ ]:
##final_merged['Account Number'] = final_merged.apply(
#    lambda row: f"{row['Account Number']} (Last Account Used)"
#                if row['Date'] == row['Latest_Activity_Date']
#                else row['Account Number'],
#    axis=1
#)

In [ ]:
#final_merged['Advanced monetization'] = final_merged.groupby('Society ID')['amt per activity'].transform('sum')

In [ ]:
#key = "1iKgiRR-lOQ-zM6v6bh_1P3vkIujVCeBzVVr_nHuoDMU"
#rangename= "Society Master"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#sm = get_data_df(key, rangename)
#sm=sm[sm['Kibana ID'].isin(final_merged['Society ID'])]
#vms_access=sm[['City','Kibana ID','KAM Usage','Sr.KAM Usage']]

In [ ]:
#spreadSheetId="14NMpc9Iv4h2PqKqnJHpYQ4fzeLml-LZPmL33YXv9R64"
#rangeName="Dashboard"
#wb = gc.open_by_key(spreadSheetId)
#ws = wb.worksheet(rangeName)
#wb.values_clear("Dashboard")
#set_with_dataframe(ws, final_merged,row=1,col=1)
#
#'''rangeName="vms access"
#wb = gc.open_by_key(spreadSheetId)
#ws = wb.worksheet(rangeName)
#wb.values_clear("vms access")
#set_with_dataframe(ws, vms_access,row=10,col=10)'''

In [ ]:
#spreadsheet_id='14NMpc9Iv4h2PqKqnJHpYQ4fzeLml-LZPmL33YXv9R64'
#sheet_name= 'vms access'
#start_row=22
#start_col=5
#wb = gc.open_by_key(spreadsheet_id)
#ws = wb.worksheet(sheet_name)
#range_to_clear = f"{sheet_name}!E{start_row}:H"
#wb.values_clear(range_to_clear)
#set_with_dataframe(ws, vms_access, row=start_row, col=start_col)

In [ ]:
#key = "1aVAu23rPNHyOEk2ioNXdbqyUKEFzcXedlY283cvDKvY"
#rangename= "Society Master"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#sm = get_data_df(key, rangename)
#
#columns_needed = ["City", "Kibana ID", "Society Name", "Live Product", "Sold Flats (VMS)", "Closure Number (VMS)", "VMS Onb Date", "Open to Sales Status-VMS", "Gross RP HO+ve", "Gross RP as per Sales RP (Post Oct)"]
#
#
#sm2=sm[(sm["Live Product"].isin(['VMS ONLY','BOTH VMS + ERP']))&(sm["VMS Onb Status"]=="ON-BOARDED")]
#print(sm2.shape)
#
#sm2 = sm2[columns_needed]
#sm2.rename(columns={"Gross RP as per Sales RP (Post Oct)":"Gross RP Without Offset(as per sales) post oct signing"},inplace=True)
#
#spreadsheet_id='1IayjBkU-1jImsjT6GhNNvWVxLbvkbGIlGrtFhOAiKXE'
#sheet_name= 'Rp wise categories'
#start_row=1
#start_col=1
#wb = gc.open_by_key(spreadsheet_id)
#ws = wb.worksheet(sheet_name)
#range_to_clear = f"{sheet_name}!A{start_row}:J"
#wb.values_clear(range_to_clear)
#set_with_dataframe(ws, sm2, row=start_row, col=start_col)

'VMS Category','ERP Category',

# Code 4:One-View Data for Monetisation Permission

In [ ]:
key = "1iKgiRR-lOQ-zM6v6bh_1P3vkIujVCeBzVVr_nHuoDMU"
rangename= "Society Master"
wb = gc.open_by_key(key)
ws = wb.worksheet(rangename)
sm = get_data_df(key, rangename)
headers = ['City','Kibana ID','Original Closure Number','Society Name','Live Product','Society status','Sold Flats','KAM Usage','CT FSD','FSD Expert','VMS Onb Status','ERP Onb Status','Paid Site Tag','Society Category as per Projected Yearly Revenue']
sm=sm[headers]

In [ ]:
key = "1O6XP_LqxlymjASE-0mM2nxju4bT2avUTVwyeqnX_MFk"
rangename= "LeadMaster"
wb = gc.open_by_key(key)
ws = wb.worksheet(rangename)
sales = get_data_df(key, rangename)
sales=sales[['Original Closure Number','Society Type','Property Type']]


key = "1BBIaBIbkKuQfVYt8W8VwbRPiztg29HPuBHzW764rEwE"
rangename= "LeadMaster"
wb = gc.open_by_key(key)
ws = wb.worksheet(rangename)
sales_rp = get_data_df(key, rangename)
sales_rp=sales_rp[['Original Closure Number','Society Type','Property Type']]

sales_collated=pd.concat([sales,sales_rp])

sales_collated.drop_duplicates(keep='first',inplace=True)
sales_collated.drop_duplicates('Original Closure Number',keep='last',inplace=True)

In [ ]:
daysDelta = 0
DumpDate =  pd.to_datetime((datetime.today() - timedelta(days = daysDelta)).date()).strftime('%d %B %Y')
file_path = "/content/drive/MyDrive/Insights_Datalake/Datewise Dumps - Aug Onwards/"+(datetime.today() - timedelta(days = daysDelta)).strftime("%b %Y")+"/"

dump_name = "Society Creation Date - Insights Copy"
scd = pd.read_csv(file_path + DumpDate + "/Sai/"+ dump_name +".csv",parse_dates=True)
scd.rename(columns={'id':'Kibana ID','latitude':'latitude','longitude':'longitude'},inplace=True)

scd=scd[['Kibana ID','latitude','longitude']]
scd.drop_duplicates(keep='last',inplace=True)

In [ ]:
key = "19yiinTif5fF8O6LwXUI990MWR2sI5w3J0gIMYYBi_-Y"
rangename= "Bank Details"
wb = gc.open_by_key(key)
ws = wb.worksheet(rangename)
bank_details = get_data_df(key, rangename)

bank_details=bank_details[['bank_name','account_holder_name','ifsc_code','society_id','last_updated_on','account_number_raw']]

bank_details.rename(columns={'bank_name':'Bank Name','account_holder_name':'Beneficiary Name','ifsc_code':'IFSC code','society_id':'Kibana ID','account_number_raw':'Account number'},inplace=True)
bank_details['last_updated_on']=pd.to_datetime(bank_details['last_updated_on'])
bank_details.sort_values('last_updated_on',ascending=False,inplace=True)
bank_details.drop_duplicates('Kibana ID',keep='first',inplace=True)
bank_details.drop('last_updated_on',axis=1,inplace=True)

In [ ]:
key = "1q1IpX9dhL5B7y5xf3mNA4gqtO4QVqZmOg0JEDT_NnXs"
rangename= "Base"
l = get_data(key, rangename)
mrp = pd.DataFrame.from_records(l[4:], columns = l[3])

mrp=mrp[['Kibana ID','Locality']]
mrp=mrp[~mrp['Kibana ID'].isin(['','nan'])]
mrp['Locality']=np.where(mrp['Locality']=="","Unavailable",mrp['Locality'])

In [ ]:
#Address column addition:20/05/2024
key = "11r__z3nSWEeP0LUwqbBC_-JkxYKZ_F21NpCJKs8JP04"
rangename= "Master"
wb = gc.open_by_key(key)
ws = wb.worksheet(rangename)
df = get_data_df(key, rangename)
df=df[['Kibana ID','Address']]
adres_df = df[df['Kibana ID']!= 'nan']

df.shape,adres_df.shape

((17450, 2), (16629, 2))

In [ ]:
key = "1YmTPZYOv1iP6jwnL_kGEchHEv7TkhZIh0c5HBp63lR4"
rangename= "Helper"
wb = gc.open_by_key(key)
ws = wb.worksheet(rangename)
pincode = get_data_df(key, rangename)

pincode=pincode[pincode['Original Closure Number']!='']

pincode=pincode[['Original Closure Number','pincode']]

pincode.drop_duplicates('Original Closure Number',keep='first',inplace=True)

In [ ]:
key = "1vVgJJdS5-qu9ga6Hag0WRuSSAUGI1WrWnWsgRRMir_g"
rangename= "Helper"
wb = gc.open_by_key(key)
ws = wb.worksheet(rangename)
prm = get_data_df(key, rangename)

prm=prm[prm['Original Closure Number']!='']

prm=prm[['Original Closure Number','Premiumness']]

prm.drop_duplicates('Original Closure Number',keep='first',inplace=True)

In [ ]:
key = "15g1hcKjApsjA0kO7rn8WUI7eZSgCYiWBLZbXa_5ThsM"
rangename= "MASTER DATA_CITY TEAM"
wb = gc.open_by_key(key)
ws = wb.worksheet(rangename)
cit = get_data_df(key, rangename)

cit=cit[cit['Kibana ID']!='nan']
cit=cit.iloc[:, [1,10]]
cit.columns.values[1] = 'Focus Type'

In [ ]:
final_data=pd.merge(sm,sales_collated,on='Original Closure Number',how='left')
print(final_data.shape)

final_data1=pd.merge(final_data,scd,on='Kibana ID',how='left')
print(final_data1.shape)

final_data2=pd.merge(final_data1,bank_details,on='Kibana ID',how='left')
print(final_data2.shape)

final_data3=pd.merge(final_data2,mrp,on='Kibana ID',how='left')
print(final_data3.shape)

final_data4=pd.merge(final_data3,pincode,on='Original Closure Number',how='left')
print(final_data4.shape)

final_data5=pd.merge(final_data4,adres_df,on='Kibana ID',how='left')
print(final_data5.shape)

final_data6=pd.merge(final_data5,cit,on='Kibana ID',how='left')
print(final_data6.shape)

final_data7=pd.merge(final_data6,prm,on='Original Closure Number',how='left')
print(final_data7.shape)

(19038, 16)
(19038, 18)
(19038, 22)
(19038, 23)
(19038, 24)
(19038, 25)
(19038, 26)
(19038, 27)

In [ ]:
final_ordered_data=final_data7[['Kibana ID','Society Name','City','Society status', 'Live Product','Sold Flats','Locality','Address','latitude','longitude','KAM Usage','CT FSD','FSD Expert','VMS Onb Status','ERP Onb Status','Society Type','Society Category as per Projected Yearly Revenue','Property Type','Paid Site Tag','Premiumness','Focus Type','Bank Name','Beneficiary Name','Account number','IFSC code']]

In [ ]:
spreadSheetId="19yiinTif5fF8O6LwXUI990MWR2sI5w3J0gIMYYBi_-Y"
rangeName="Final Data"
wb = gc.open_by_key(spreadSheetId)
ws = wb.worksheet(rangeName)
wb.values_clear("Final Data!A:X")
set_with_dataframe(ws, final_ordered_data,row=1,col=1)

# Code 5:Employee Visual Visit Tracker

In [ ]:
## Hold by anuja
#key = "1yc1Yysxi2Od2Bk5nfbEmmiuTyx1apFsaWyuwBcTDQKg"
#rangename= "Dump"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#dump = get_data_df(key, rangename)
#dump.rename(columns={'Hood/Kibana id':'Kibana ID'},inplace=True)
#dump=dump[dump['Job status']=='completed_job']
#daysDelta = 0
#DumpDate =  pd.to_datetime((datetime.today() - timedelta(days = daysDelta)).date()).strftime('%d %B %Y')
#file_path = "/content/drive/MyDrive/Insights_Datalake/Datewise Dumps - Aug Onwards/"+(datetime.today() - timedelta(days = daysDelta)).strftime("%b %Y")+"/"
#
#dump_name = "Society Creation Date - Insights Copy"
#scd = pd.read_csv(file_path + DumpDate + "/Sai/"+ dump_name +".csv",parse_dates=True)
#scd.rename(columns={'id':'Kibana ID','latitude':'latitude','longitude':'longitude'},inplace=True)
#
#scd=scd[['Kibana ID','latitude','longitude']]
#scd.drop_duplicates(keep='last',inplace=True)
#scd[['latitude', 'longitude']] = scd[['latitude', 'longitude']].map(lambda x: float(x.replace(',', '')) if isinstance(x, str) else x)
#scd[['latitude', 'longitude']] = scd[['latitude', 'longitude']]/1000000
#
#dump=pd.merge(dump,scd,on='Kibana ID',how='left')
#dump.loc[(dump['latitude'] >= 8.4) & (dump['latitude'] <= 37.6) &
#       (dump['longitude'] >= 68.1) & (dump['longitude'] <= 97.4), 'Remark'] = 'Valid'
#dump=dump[dump['Remark']=="Valid"]
#
#
#dump['Geo_Location'] = dump['latitude'].astype(str) + ', ' + dump['longitude'].astype(str)
#
#key = "1QLOS849fPNPVYYGND7MmnMivVf4o1VZEhLhJS89a17I"
#rangename= "HR"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#hrd = get_data_df(key, rangename)
#
#hrd.rename(columns={"Official Email ID":"Job assignee email"},inplace=True)
#dump=pd.merge(dump,hrd[["Job assignee email","Designation"]],on="Job assignee email",how='left')
##hrd = hrd.rename(columns={"ActualColumnName1": "Job assignee email", "ActualColumnName2": "Designation"})
##hrd.columns = hrd.columns.str.strip()
#designation_mapping = {
#    "Senior Business Account Manager Usage - L4": "Sr BAM",
#    "Business Executive - L2": "BE",
#    "Inventory Executive": "Inventory Executive",
#    "Business Executive Usage - L1": "BE",
#    "Financial Solution Deployment Executive Central Onboarding - L3": "",
#    "Sales Executive": "",
#    "Business Account Manager Usage - L1": "BAM",
#    "Business Account Manager - L3": "BAM",
#    "Business Account Manager Usage - L3": "BAM",
#    "City Business Manager Onboarding - L1": "CBM",
#    "Business Account Manager Usage - L2": "BAM",
#    "Senior Business Account Manager Usage - L3": "Sr BAM",
#    "Senior Business Account Manager - L2": "Sr BAM",
#    "Business Account Manager - L1": "BAM",
#    "Business Account Manager - Central Onboarding": "BAM",
#    "Manager - Vendor Partnership & Alliances - L2": "",
#    "Financial Solution Deployment Executive  - L1": "",
#    "Financial Solution Deployment Executive Central Onboarding": "",
#    "Business Executive Onboarding - L1": "BE",
#    "Senior Inventory Executive": "Sr BE",
#    "Financial Solution Deployment Executive - L1": "",
#    "Senior Business Account Manager Onboarding - L1": "Sr BAM",
#    "Business Account Manager  - L2": "BAM",
#    "Business Account Manager Onboarding - L2": "BAM",
#    "Servicing Executive - ERP": "BE",
#    "Business Executive Usage": "BE",
#    "Senior Business Account Manager - L1": "Sr BAM",
#    "Relationship Manager - Society Painting": "",
#    "Business Executive - L1": "BE",
#    "Business Account Manager Central Onboarding - L2": "BAM",
#    "National Head - Vendor Partnership & Alliances": "",
#    "Business Account Manager Onboarding - L3": "BAM",
#    "Senior Business Account Manager Onboarding - L3": "Sr BAM"
#}
#dump['Final Mapping'] = dump['Designation'].map(designation_mapping)
#def process_date(date_str):
#    try:
#        # Step 1: Split by 'T' to separate date and time
#        date_part, time_part = date_str.split('T')
#
#        # Step 2: Remove any timezone info from time (split on '+' if exists)
#        time_part = time_part.split('+')[0]
#
#        # Step 3: Combine date and time and parse to datetime
#        datetime_obj = pd.to_datetime(f"{date_part} {time_part}", errors='coerce')
#
#        # Step 4: Localize to 'Asia/Kolkata' timezone
#        return datetime_obj.tz_localize('Asia/Kolkata', ambiguous='NaT')
#
#    except Exception as e:
#        # Handle any parsing errors
#        return pd.NaT
#
## Apply the function to the 'Job start date' column
#dump['Job start date'] = dump['Job start date'].apply(process_date)
#dump['Job end date'] = dump['Job end date'].apply(process_date)
##dump['Job start date'] = pd.to_datetime(dump['Job start date']).dt.tz_convert('Asia/Kolkata')
##dump['Job start date'] = pd.to_datetime(dump['Job start date'], errors='coerce')
##dump['Job start date'] = dump['Job start date'].dt.tz_localize('Asia/Kolkata', ambiguous='NaT')
##dump['Job start date'] = pd.to_datetime(dump['Job start date'], format='mixed', errors='coerce').dt.tz_convert('Asia/Kolkata')
##dump['Job end date'] = pd.to_datetime(dump['Job end date'], errors='coerce')
##dump['Job end date'] = dump['Job end date'].dt.tz_localize('Asia/Kolkata', ambiguous='NaT')
##dump['Job end date'] = pd.to_datetime(dump['Job end date']).dt.tz_convert('Asia/Kolkata')
##dump['Job start date'] = pd.to_datetime(dump['Job start date'], errors='coerce')
##dump['Job end date'] = pd.to_datetime(dump['Job end date'], errors='coerce')
#
#
#
#dump['Job_Status'] = dump.apply(lambda row: 'Valid' if row['Job start date'].date() == row['Job end date'].date() else 'Invalid', axis=1)
#
#dump
#dump=dump[dump['Job_Status']=="Valid"]
#dump['Job duration'] = (dump['Job end date'] - dump['Job start date']).dt.total_seconds() / 60
#
#key = "1iKgiRR-lOQ-zM6v6bh_1P3vkIujVCeBzVVr_nHuoDMU"
#rangename= "Society Master"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#sm = get_data_df(key, rangename)
#headers = ['City','Kibana ID']
#sm=sm[headers]
#sm.rename(columns={'City':'SM_City'},inplace=True)
#dump=pd.merge(dump,sm,on='Kibana ID',how='left')
#dump['Job date'] = dump['Job start date'].dt.date
#job_counts = dump.groupby(['Job date', 'Job assignee email', 'Kibana ID']).size().reset_index(name='Job count')
#dump = dump.merge(job_counts, on=['Job date', 'Job assignee email', 'Kibana ID'], how='left')
#dump['Job date'] = pd.to_datetime(dump['Job date'])
#
## Group the DataFrame by  and Job date
#dump['Overlap']=False
#grouped = dump.groupby(['Job assignee email', 'Job date'])
#
#all_groups = []
#
#for key, group in grouped:
#    group = group.sort_values(by=['Job assignee email', 'Job start date'], ascending=[True, False]).reset_index(drop=True)
#    for i in range(len(group)-1):
#      if group.loc[i, 'Job end date'] > group.loc[i + 1, 'Job start date']:
#            print("Job date i: ", group.loc[i, 'Job date'], "\n", "Job date i+1: ", group.loc[i + 1, 'Job date'], "\n")
#            print("Job end date i: ", group.loc[i, 'Job end date'], "\n", "Job start date i+1: ", group.loc[i + 1, 'Job start date'], "\n")
#            print("Job assignee email i:", group.loc[i, 'Job assignee email'], "\n", "Job assignee email i+1: ", group.loc[i + 1, 'Job assignee email'], "\n")
#            print("Kibana ID i:", group.loc[i, 'Kibana ID'], "\n", "Kibana ID i+1: ", group.loc[i + 1, 'Kibana ID'], "\n")
#            print("==============================================================================================\n")
#            group.loc[i, 'Overlap'] = True
#            group.loc[i + 1, 'Overlap'] = True
#    all_groups.append(group)
#
## Concatenate all groups back into a single DataFrame
#dump = pd.concat(all_groups).reset_index(drop=True)
#
#def check_overlap_grouped(df):
#    def check_group(group):
#        group = group.sort_values(by=['Job assignee email','Job start date']).reset_index(drop=True)
#        overlaps = [False] * len(group)
#        for i in range(len(group) - 1):
#          if (group.loc[i, 'Job date'] == group.loc[i + 1, 'Job date']) and (group.loc[i, 'Job end date'] > group.loc[i + 1, 'Job start date']):
#            print("Job date i: ", group.loc[i, 'Job date'], "\n", "Job date i+1: ", group.loc[i + 1, 'Job date'], "\n")
#            print("Job end date i: ", group.loc[i, 'Job end date'], "\n", "Job start date i+1: ", group.loc[i + 1, 'Job start date'], "\n")
#            print("Job assignee email i:", group.loc[i, 'Job assignee email'], "\n", "Job assignee email i+1: ", group.loc[i + 1, 'Job assignee email'], "\n")
#            print("Kibana ID i:", group.loc[i, 'Kibana ID'], "\n","Kibana ID i+1: ", group.loc[i + 1, 'Kibana ID'], "\n")
#            print("==============================================================================================\n")
#            overlaps[i] = True
#            overlaps[i + 1] = True
#        return overlaps
#
#    grouped = df.groupby(['Job assignee email','Job date'])
#    overlaps = grouped.apply(lambda group: check_group(group)).explode().reset_index(drop=True)
#    return overlaps
#
#
#dump['Multiple Job At Sametime']=False
#grouped = dump.groupby(['Kibana ID','Job date'])
#
#all_groups = []
#
#for key, group in grouped:
#    group = group.sort_values(by=['Kibana ID', 'Job start date'], ascending=[True, False]).reset_index(drop=True)
#    for i in range(len(group)-1):
#        if group.loc[i, 'Job end date'] > group.loc[i + 1, 'Job start date']:
#            print("Job date i: ", group.loc[i, 'Job date'], "\n", "Job date i+1: ", group.loc[i + 1, 'Job date'], "\n")
#            print("Job end date i: ", group.loc[i, 'Job end date'], "\n", "Job start date i+1: ", group.loc[i + 1, 'Job start date'], "\n")
#            print("Job assignee email i:", group.loc[i, 'Job assignee email'], "\n", "Job assignee email i+1: ", group.loc[i + 1, 'Job assignee email'], "\n")
#            print("Kibana ID i:", group.loc[i, 'Kibana ID'], "\n", "Kibana ID i+1: ", group.loc[i + 1, 'Kibana ID'], "\n")
#            print("==============================================================================================\n")
#            group.loc[i, 'Multiple Job At Sametime'] = True
#            group.loc[i + 1, 'Multiple Job At Sametime'] = True
#    all_groups.append(group)
#
## Concatenate all groups back into a single DataFrame
#result_df = pd.concat(all_groups).reset_index(drop=True)
#
#spreadSheetId="1yc1Yysxi2Od2Bk5nfbEmmiuTyx1apFsaWyuwBcTDQKg"
#rangeName="Final Data"
#wb = gc.open_by_key(spreadSheetId)
#ws = wb.worksheet(rangeName)
#wb.values_clear("Final Data!A:AN")
#set_with_dataframe(ws, result_df,row=1,col=1)

# Code 6:Servicing RP || ERP and VMS

In [ ]:
#columns = ["City","Kibana ID","Original Closure Number","Society Name","Society status","Live Product","Sold Flats (VMS)","Sold Flats (ERP)","Closure Number (VMS)","Closure Date (VMS)","VMS Onb Status","VMS Onb Date","Closure Number (ERP)","Closure Date (ERP)","ERP Onb Status","ERP Onb Date","VMS Onboarding Tag","ERP Onboarding Tag","Open to Sales Status-ERP","Open to Sales Status-VMS","Gross RP HO+ve"
#]
#
#key = "1aVAu23rPNHyOEk2ioNXdbqyUKEFzcXedlY283cvDKvY"
#rangename= "Society Master"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#base = get_data_df(key, rangename)
#base=base[columns]
#
##Filtering only Active Societies
#base=base[base['Society status']=='ACTIVE']
#
#

In [ ]:
## Convert date columns to datetime format with mixed date handling
#date_columns = [
#    "Closure Date (VMS)",
#    "VMS Onb Date",
#    "Closure Date (ERP)",
#    "ERP Onb Date"
#]
#
#for column in date_columns:
#    # Use to_datetime with errors='coerce' to handle mixed formats
#    base[column] = pd.to_datetime(base[column], errors='coerce')
#
## Convert "Gross RP HO+ve" to float
#base["Gross RP HO+ve"] = pd.to_numeric(base["Gross RP HO+ve"], errors='coerce')
#base['Signing date to consider'] = base[["Closure Date (VMS)", "Closure Date (ERP)"]].min(axis=1)
##Risky Sites
#key = "1NaSXbh4IlgxUVlXgjHVM3Wgb7ExzfWrQcOMa6qL4FN0"
#rangename= "RISKY SITES"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#rs_vms = get_data_df(key, rangename)
#base["Is VMS Risky"] = base['Kibana ID'].isin(rs_vms['KIBANA ID']).map({True: "Yes", False: "No"})
#key = "1-VPbYw2o-cj75BQQftN038nybKovIw2P4yqfZycSJts"
#rangename= "Base"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#m_12 = get_data_df(key, rangename)
#m_12=m_12[~m_12['Kibana ID'].isin(['','nan'])]
#
#m_12=m_12.iloc[:,4:7]
#
#m_12.rename(columns={"cleaned kibana id":"Kibana ID"},inplace=True)
#key = "1K71zQ7WjiO6qS2cK2WJgaKAtko7_YZVoadSSWMJT4-0"
#rangename= "Base"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#m_34 = get_data_df(key, rangename)
#m_34=m_34[~m_34['Kibana ID'].isin(['','nan'])]
#
#m_34=m_34.iloc[:,4:7]
#
#m_34.rename(columns={"cleaned kibana id":"Kibana ID"},inplace=True)
#key = "1h9atwIX0CxTKl5s1iKAGw94VuJ4vwmYhx5_JX0Z8VyQ"
#rangename= "Base"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(rangename)
#m_56 = get_data_df(key, rangename)
#m_56=m_56[~m_56['Kibana ID'].isin(['','nan'])]
#
#m_56=m_56.iloc[:,4:7]
#
#m_56.rename(columns={"cleaned kibana id":"Kibana ID"},inplace=True)
#base = base.merge(m_12, on='Kibana ID', how='left') \
#           .merge(m_34, on='Kibana ID', how='left') \
#           .merge(m_56, on='Kibana ID', how='left')
## Convert revenue columns to float in one line
#base[["Oct'23 Revenue", "Nov'23 Revenue", "Dec'23 revenue", "Jan'24 revenue", "Feb'24 revenue", "Mar'24 revenue"]] = base[["Oct'23 Revenue", "Nov'23 Revenue", "Dec'23 revenue", "Jan'24 revenue", "Feb'24 revenue", "Mar'24 revenue"]].apply(pd.to_numeric, errors='coerce')
## Define the function to apply the logic
#def calculate_value(row, aj_value):
#    if row['Is VMS Risky'] == "Yes":
#        return np.mean([row['Gross RP HO+ve'], row[ ["Oct'23 Revenue","Nov'23 Revenue","Dec'23 revenue","Jan'24 revenue","Feb'24 revenue","Mar'24 revenue"]][row[ ["Oct'23 Revenue","Nov'23 Revenue","Dec'23 revenue","Jan'24 revenue","Feb'24 revenue","Mar'24 revenue"]] > 20].sum()])
#    elif row['Live Product'] == "ERP ONLY" and row['Open to Sales Status-ERP'] == "Yes":
#        return np.mean([row['Gross RP HO+ve'], row[ ["Oct'23 Revenue","Nov'23 Revenue","Dec'23 revenue","Jan'24 revenue","Feb'24 revenue","Mar'24 revenue"]][row[ ["Oct'23 Revenue","Nov'23 Revenue","Dec'23 revenue","Jan'24 revenue","Feb'24 revenue","Mar'24 revenue"]] > 20].sum()])
#    elif row['Signing date to consider'] < aj_value:
#        count_above_20 = row[ ["Oct'23 Revenue","Nov'23 Revenue","Dec'23 revenue","Jan'24 revenue","Feb'24 revenue","Mar'24 revenue"]][row[ ["Oct'23 Revenue","Nov'23 Revenue","Dec'23 revenue","Jan'24 revenue","Feb'24 revenue","Mar'24 revenue"]] > 20].count()
#        return (row[ ["Oct'23 Revenue","Nov'23 Revenue","Dec'23 revenue","Jan'24 revenue","Feb'24 revenue","Mar'24 revenue"]].sum() / count_above_20) * 12 if count_above_20 > 0 else 0
#    elif row['Signing date to consider'] >= aj_value:
#        return row['Gross RP HO+ve']
#    return None
#
## Assuming 'AJ' is a single value
#aj_value =pd.to_datetime("31-12-2023")
#
## Apply the function to each row
#base['Projected Yearly Revenue'] = base.apply(lambda row: calculate_value(row, aj_value), axis=1)

In [ ]:
#
#base['Final Cat'] = np.where(base['Projected Yearly Revenue'] >= 25000, "Cat A",
#                    np.where((base['Projected Yearly Revenue'] >= 5000) & (base['Projected Yearly Revenue'] < 25000), "Cat B",
#                    "Cat C"))

In [ ]:
#
#spreadSheetId="1NaSXbh4IlgxUVlXgjHVM3Wgb7ExzfWrQcOMa6qL4FN0"
#rangeName="Rp wise categories"
#wb = gc.open_by_key(spreadSheetId)
#ws = wb.worksheet(rangeName)
#wb.values_clear("Rp wise categories!A:AE")
#set_with_dataframe(ws, base,row=1,col=1)

# Code 7:Brand CategoryWise Report

In [ ]:
columns = ["Campaign Code","Transaction Date", "Revenue", "lowest * revenue", "Status", "Cleaned Brand Name", "Category"]

key = "1lRa2I_d73fPTNoTh7wwATHwXsRMep0M8SP7MGLeQGag"
rangename= "Margin DB"
wb = gc.open_by_key(key)
ws = wb.worksheet(rangename)
df = get_data_df(key, rangename)

In [ ]:
l = get_data("1A4SRVGcfu-VNkGGVVzJED7TYgb9OdrBxpDNBMqmLDqU", 'Campaign Master')
cm = pd.DataFrame.from_records(l[1:], columns=l[0])
cm=cm[['Campaign Code','Sub-Category']]
df=pd.merge(df,cm,on='Campaign Code',how='left')

In [ ]:
spreadSheetId="1TDhFMjQyXHm7mXr2S4Ss1RR1rdGWLzi3hWJLl9e3-dk"
rangeName="Sheet1"
wb = gc.open_by_key(spreadSheetId)
ws = wb.worksheet(rangeName)
wb.values_clear("Sheet1!A:Z")
set_with_dataframe(ws, df,row=1,col=1)

In [ ]:
df=df[columns]

df.rename(columns={'Cleaned Brand Name':'Brand Name',"lowest * revenue":"Margin"},inplace=True)

<ipython-input-42-4843d6d6b63c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Cleaned Brand Name':'Brand Name',"lowest * revenue":"Margin"},inplace=True)

In [ ]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], format='mixed',dayfirst=True)  # Convert to datetime

df['Margin'] = pd.to_numeric(df['Margin'], errors='coerce')
df['Revenue'] = pd.to_numeric(df['Revenue'].str.replace(',', ''), errors='coerce')

#df['Revenue'] = df['Revenue'].str.replace(',', '').astype(float)

<ipython-input-43-8bc0d963b9d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], format='mixed',dayfirst=True)  # Convert to datetime
<ipython-input-43-8bc0d963b9d3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Margin'] = pd.to_numeric(df['Margin'], errors='coerce')
<ipython-input-43-8bc0d963b9d3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'] = pd.to_numeric(df['Revenue'].str.replace(',', ''), errors='coerce')

In [ ]:
today = datetime.now()

df['Months Since Last Campaign'] = ((today.year - df['Transaction Date'].dt.year) * 12 + (today.month - df['Transaction Date'].dt.month))

In [ ]:
# Group by 'Brand Name' and 'Category'
grouped = df.groupby(['Brand Name', 'Category'])

# Calculate metrics with unique Campaign Code counts for Closed and Open campaigns
summary = grouped.agg(
    Closed_Campaign_Frequency=pd.NamedAgg(column='Campaign Code', aggfunc=lambda x: df.loc[x.index][df.loc[x.index, 'Status'] == 'Closed']['Campaign Code'].nunique()),
    Open_Campaign_Frequency=pd.NamedAgg(column='Campaign Code', aggfunc=lambda x: df.loc[x.index][df.loc[x.index, 'Status'] == 'Open']['Campaign Code'].nunique()),
    Last_Campaign_Date=pd.NamedAgg(column='Transaction Date', aggfunc=lambda x: df.loc[x.index][df.loc[x.index, 'Status'].isin(['Closed','Open'])]['Transaction Date'].max()),  # Filter for closed campaigns
    Revenue=pd.NamedAgg(column='Revenue', aggfunc='sum'),
    Margin=pd.NamedAgg(column='Margin', aggfunc='sum')
).reset_index()

summary['Months Since Last Campaign'] = summary['Last_Campaign_Date'].apply(lambda x: ((today.year - x.year) * 12 + (today.month - x.month)) if pd.notna(x) else None)

In [ ]:
def assign_bucket(value):
    if value <= 2:
        return "<=2"
    elif value >= 5:
        return ">=5"
    else:
        return ">=3"


summary['Closed Bucket'] = summary['Closed_Campaign_Frequency'].apply(assign_bucket)
summary['Open Bucket'] = summary['Open_Campaign_Frequency'].apply(assign_bucket)

In [ ]:
summary = summary[['Category', 'Brand Name', 'Closed_Campaign_Frequency', 'Open_Campaign_Frequency',
                       'Closed Bucket', 'Open Bucket', 'Last_Campaign_Date', 'Months Since Last Campaign',
                       'Revenue', 'Margin']]

In [ ]:
summary.sort_values(by="Margin", ascending=False ,inplace=True)

In [ ]:
spreadSheetId="1lRa2I_d73fPTNoTh7wwATHwXsRMep0M8SP7MGLeQGag"
rangeName="Category wise Frequency"
wb = gc.open_by_key(spreadSheetId)
ws = wb.worksheet(rangeName)
wb.values_clear("Category wise Frequency!A:J")
set_with_dataframe(ws, summary,row=2,col=1)

# Code 8:Monetisation VIZ Script

In [ ]:
#calling all data in payments tab in master sheet
key = "1A4SRVGcfu-VNkGGVVzJED7TYgb9OdrBxpDNBMqmLDqU"
range = "Payments"
wb = gc.open_by_key(key)
ws = wb.worksheet(range)
masterpayments = get_data_df_2(key, range)
masterpayments = masterpayments[masterpayments['Date']!=""]
masterpayments['Date'] = pd.to_datetime(masterpayments['Date'], errors='coerce', format="mixed")
masterpayments['Base Amount'] = pd.to_numeric(masterpayments['Base Amount'], errors='coerce')
six_months_ago = pd.Timestamp.now() - pd.DateOffset(months=6)
filtered_data = masterpayments[masterpayments['Date'] >= six_months_ago]
result = filtered_data.groupby('Society ID')['Base Amount'].sum().reset_index()
result.rename(columns={'Society ID':"Kibana ID",'Base Amount': 'Society Payout (Last 6 Months)'}, inplace=True)

key = "1YmTPZYOv1iP6jwnL_kGEchHEv7TkhZIh0c5HBp63lR4"
rangename= "Helper"
wb = gc.open_by_key(key)
ws = wb.worksheet(rangename)
sm = get_data_df(key, rangename)

columns = ["City","Kibana ID","Society Name","Society status","Status","Live Product","Latest Signing Date","Sold Flats","Locality","NBH Recommended","No: of Activity done in last  6 months"]

sm=sm[columns]

sm=sm[sm['Society status']=='ACTIVE']
sm['Sold Flats'] = sm['Sold Flats'].apply(lambda x: float(x.replace(',', '')) if isinstance(x, str) else x)

l = get_data("1vVgJJdS5-qu9ga6Hag0WRuSSAUGI1WrWnWsgRRMir_g", 'Helper')
prm = pd.DataFrame.from_records(l[1:], columns=l[0])
prm=prm[['Kibana ID','Rent Range','Premiumness']]
sm=pd.merge(sm,prm,on='Kibana ID',how='left')

daysDelta = 0
DumpDate =  pd.to_datetime((datetime.today() - timedelta(days = daysDelta)).date()).strftime('%d %B %Y')
file_path = "/content/drive/MyDrive/Insights_Datalake/Datewise Dumps - Aug Onwards/"+(datetime.today() - timedelta(days = daysDelta)).strftime("%b %Y")+"/"

dump_name = "Society Creation Date - Insights Copy"
scd = pd.read_csv(file_path + DumpDate + "/Sai/"+ dump_name +".csv",parse_dates=True)
scd.rename(columns={'id':'Kibana ID','latitude':'latitude','longitude':'longitude'},inplace=True)
scd.drop_duplicates("Kibana ID",keep='last',inplace=True)
scd[['latitude', 'longitude']] = scd[['latitude', 'longitude']].map(lambda x: float(x.replace(',', '')) if isinstance(x, str) else x)
scd[['latitude', 'longitude']] = scd[['latitude', 'longitude']]/1000000
scd=scd[['Kibana ID','latitude','longitude']]
scd.drop_duplicates(keep='last',inplace=True)

dump_name = "onboarding_dashboard_metrics"
om = pd.read_csv(file_path + DumpDate + "/Sai/"+ dump_name +".csv",parse_dates=True)
om=om[['Society_id','Average L7 Day Overall Entries']]
om.rename(columns={'Society_id':'Kibana ID'},inplace=True)
merged_df = sm.merge(om, on='Kibana ID', how='left').merge(scd, on='Kibana ID', how='left')

merged_df[['latitude','longitude']] = merged_df[['latitude','longitude']].apply(pd.to_numeric, errors='coerce')
merged_df.loc[(merged_df['latitude'] >= 8.4) & (merged_df['latitude'] <= 37.6) & (merged_df['longitude'] >= 68.1) & (merged_df['longitude'] <= 97.4), 'Remark'] = 'Valid'
merged_df['Geo_Location'] = merged_df['latitude'].astype(str) + ',' + merged_df['longitude'].astype(str)
city_mapping = {
    'AHMEDABAD': 'AHMEDABAD',
    'NAVI MUMBAI - NMT': 'NAVI MUMBAI',
    'MUMBAI': 'MUMBAI',
    'NOIDA': 'NOIDA',
    'BANGALORE': 'BANGALORE',
    'HYDERABAD': 'HYDERABAD',
    'PUNE_PMC': 'PUNE',
    'OTHER CITY': 'OTHER',
    'PUNE': 'PUNE',
    'PUNE_PCMC': 'PUNE',
    'CHENNAI': 'CHENNAI',
    'KOLKATA': 'KOLKATA',
    'GURGAON': 'GURGAON',
    'JAIPUR': 'JAIPUR',
    'NAVI MUMBAI - THANE': 'THANE',
    'NAGPUR': 'NAGPUR',
    'MOHALI': 'MOHALI',
    'MUMBAI 2': 'MUMBAI',
    'KOCHI': 'KOCHI',
    'ZIRAKPUR': 'ZIRAKPUR',
    'LUDHIANA': 'LUDHIANA',
    'PANCHKULA': 'PANCHKULA',
    'CHANDIGARH': 'CHANDIGARH',
    'DERABASSI': 'DERABASSI'
}
merged_df['Clean City'] = merged_df['City'].map(city_mapping)

merged_df=merged_df[merged_df['Remark']=="Valid"]

merged_df=merged_df.drop('Remark',axis=1)

clean_df = merged_df.loc[:, ~merged_df.columns.duplicated()]

clean_df['Sold Flats'] = clean_df['Sold Flats'].apply(lambda x: float(x.replace(',', '')) if isinstance(x, str) else x)
clean_df = clean_df[clean_df['Sold Flats']>1]

clean_df['Entries %'] = clean_df['Average L7 Day Overall Entries'] / clean_df['Sold Flats']

final_df = clean_df.merge(result, on='Kibana ID', how='left')

final_df['NBH Recommended Color Scale'] = (final_df['NBH Recommended'] == 'NBH Preferred').astype(int)

spreadSheetId="1sUYEDYrJdNLHyAEXShBMeaGLyrGVx6Q2x0-TcsX-Cxw"
rangeName="Base"
wb = gc.open_by_key(spreadSheetId)
ws = wb.worksheet(rangeName)
wb.values_clear(f"{rangeName}!A:Z")
set_with_dataframe(ws, final_df,row=1,col=1)

<ipython-input-51-014e8252f596>:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['Sold Flats'] = clean_df['Sold Flats'].apply(lambda x: float(x.replace(',', '')) if isinstance(x, str) else x)
<ipython-input-51-014e8252f596>:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['Entries %'] = clean_df['Average L7 Day Overall Entries'] / clean_df['Sold Flats']

# **Testing Section**

In [ ]:
#'''key = "16Ub1TYzSP0CaAR7Vyl3n011xVA-mnfGPs9lZQIo2Ogs"
#range = "ITC - PIN CODES"
#wb = gc.open_by_key(key)
#ws = wb.worksheet(range)
#test_df = get_data_df(key, range)
#
#def extract_pincode(address):
#    match = re.search(r"\b\d{6,}\b", address)
#    return match.group(0) if match else None
#
#
##test_df["Pincode"] = test_df["Store Address"].apply(extract_pincode)
#
#!pip install geopy
#
#from geopy.geocoders import Nominatim
#geolocator = Nominatim(user_agent="my-geocoding-app")
#
#latitudes = []
#longitudes = []
#
#for pincode in test_df['Pin Codes']:
#    try:
#        location = geolocator.geocode(pincode,country_codes='in')
#        latitude = location.latitude
#        longitude = location.longitude
#    except AttributeError:
#        latitude = None
#        longitude = None
#    latitudes.append(latitude)
#    longitudes.append(longitude)
#
#
#test_df['Latitude'] = latitudes
#test_df['Longitude'] = longitudes
#
#spreadSheetId="16Ub1TYzSP0CaAR7Vyl3n011xVA-mnfGPs9lZQIo2Ogs"
#rangeName="ITC - PIN CODES"
#wb = gc.open_by_key(spreadSheetId)
#ws = wb.worksheet(rangeName)
#wb.values_clear(f"{rangeName}!A:Z")
#set_with_dataframe(ws, test_df,row=1,col=1)'''

In [ ]:
#import gspread
#from oauth2client.service_account import ServiceAccountCredentials
#import smtplib
#from email.mime.text import MIMEText
#
## Google Sheets setup
#'''scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]
#creds = ServiceAccountCredentials.from_json_keyfile_name('path/to/credentials.json', scope)
#client = gspread.authorize(creds)'''
#
## Open the spreadsheet and worksheets
#spreadsheet = client.open_by_key("1rLZeNFOuaVLyGcn_msUY0yL6XchswWNAXt3r8yZoziM")
#data_sheet = spreadsheet.worksheet("Px Rating")
#template_sheet = spreadsheet.worksheet("Template")
#
#def send_emails():
#    # Read template text
#    template_text = template_sheet.cell(1, 1).value
#
#    # Get all rows from the Px Rating sheet
#    data = data_sheet.get_all_records()
#
#    # SMTP setup
#    smtp_server = "smtp.your-email-provider.com"
#    smtp_port = 587
#    email_user = "your-email@example.com"
#    email_password = "your-password"
#
#    # Initialize SMTP connection
#    server = smtplib.SMTP(smtp_server, smtp_port)
#    server.starttls()
#    server.login(email_user, email_password)
#
#    # Loop through rows and send emails
#    for row in data:
#        email_id = row.get("Email ID of the Partner")
#        rating = row.get("Rating")
#        additional_info = row.get("What Went Wrong")
#
#        if email_id and rating and rating <= 5:  # Updated condition for sending emails
#            subject = "High Priority || Detractor (Less Rating Received) On The Job From Customer"
#            message_body = f"{template_text}\n\nDetails:\nRating: {rating}\nWhat Went Wrong: {additional_info}"
#
#            # Create email
#            msg = MIMEText(message_body)
#            msg["Subject"] = subject
#            msg["From"] = email_user
#            msg["To"] = email_id
#
#            # Send email
#            try:
#                server.sendmail(email_user, email_id, msg.as_string())
#                print(f"Email sent to {email_id}")
#            except Exception as e:
#                print(f"Failed to send email to {email_id}: {e}")
#
#    # Close the SMTP connection
#    server.quit()
#
#if __name__ == "__main__":
#    send_emails()
#

#Runtime Tracker

In [ ]:

from datetime import datetime
import pytz


# Get the current time in UTC
utc_time = datetime.utcnow()


# Convert to India Standard Time (IST)
india_tz = pytz.timezone('Asia/Kolkata')
ist_time = utc_time.replace(tzinfo=pytz.utc).astimezone(india_tz)


# Format the datetime string
formatted_time = ist_time.strftime("%d-%B-%Y - %H:%M")


print(formatted_time)


import gspread
import pandas as pd
from datetime import datetime
from gspread_dataframe import set_with_dataframe


# Open the Google Sheets document
#gc = gspread.service_account(filename="path/to/your/credentials.dumpon")

spreadsheet_id = "12jy3u_vMDIS0etAQe1DYa14mBUwXebDc9ePzgzgkTH0"
date_checker = gc.open_by_key(spreadsheet_id)


# Function to update target value
def update_target_value(target_value):
   # Find the worksheet 'scripts' and fetch data
   worksheet_scripts = date_checker.worksheet('last updated time')
   data_scripts = worksheet_scripts.get_all_values()
   # Extracting headers and data separately
   headers = data_scripts[0]
   rows = data_scripts[1:]

   # Creating DataFrame
   df = pd.DataFrame(rows, columns=headers)



   # Create a DataFrame with only the 'Name ' column
   #df = pd.DataFrame(data_scripts, columns=['Name '])


   # Find the row index for the target value
   filtered_row = df[df['Name '] == target_value]


   if not filtered_row.empty:
       # Get the index of the found row
       row_index = filtered_row.index[0]


       # Get the 'last updated time' worksheet
       worksheet_last_updated = date_checker.worksheet('last updated time')


       # Get the current datetime
       current_datetime = formatted_time


       # Update the 'last updated date / time' column with the current datetime
       worksheet_last_updated.update(f'B{row_index + 2}', [[current_datetime]])


       print(f"Current datetime {current_datetime} populated for Value {target_value}")
   else:
       print(f"No matching row found for Value {target_value}")

update_target_value('Activity Tracker Hood Campaigns')

03-March-2025 - 08:22
Current datetime 03-March-2025 - 08:22 populated for Value Activity Tracker Hood Campaigns

<ipython-input-54-28220a08250f>:70: DeprecationWarning: The order of arguments in worksheet.update() has changed. Please pass values first and range_name secondor used named arguments (range_name=, values=)
  worksheet_last_updated.update(f'B{row_index + 2}', [[current_datetime]])

In [ ]:
#calling all data in payments tab in master sheet
key = "1A4SRVGcfu-VNkGGVVzJED7TYgb9OdrBxpDNBMqmLDqU"
range = "Payments"
wb = gc.open_by_key(key)
ws = wb.worksheet(range)
masterpayments = get_data_df_2(key, range)
masterpayments = masterpayments[masterpayments['Date']!=""]
masterpayments['Date'] = pd.to_datetime(masterpayments['Date'], errors='coerce', format="mixed")
masterpayments['Base Amount'] = pd.to_numeric(masterpayments['Base Amount'], errors='coerce')
# six_months_ago = pd.Timestamp.now() - pd.DateOffset(months=6)
# filtered_data = masterpayments[masterpayments['Date'] >= six_months_ago]
result = masterpayments.groupby('Society ID')['Base Amount'].sum().reset_index()
result.rename(columns={'Society ID':"Kibana ID",'Base Amount': 'Execution Amount'}, inplace=True)

<ipython-input-55-0f718a1cb21c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  masterpayments['Date'] = pd.to_datetime(masterpayments['Date'], errors='coerce', format="mixed")
<ipython-input-55-0f718a1cb21c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  masterpayments['Base Amount'] = pd.to_numeric(masterpayments['Base Amount'], errors='coerce')

In [ ]:
result

                Kibana ID  Execution Amount
0                                 1319907.0
1                    #N/A            6540.0
2     (NBH under process)            5000.0
3                       -           40460.0
4                       0           60345.0
...                   ...               ...
5423                   na          235744.0
5424                  nan           77600.0
5425                  nil           26500.0
5426              non-NBH            4720.0
5427               vendor           99600.0

[5428 rows x 2 columns]

In [ ]:
# 1Gl--PIaW3w6YESiHWUuUkzXC9VILWAz4B-e2D2lGBdg

key = "1Gl--PIaW3w6YESiHWUuUkzXC9VILWAz4B-e2D2lGBdg"
range = "Sheet1"
wb = gc.open_by_key(key)
ws = wb.worksheet(range)
closure = get_data_df_2(key, range)
closure['Closure Date'] = pd.to_datetime(closure['Closure Date'], errors='coerce', format="mixed")

In [ ]:
merge = pd.merge(closure,result,on='Kibana ID',how='left')

In [ ]:
merge

,Closure Number,Closure Date,Society Name,City,HO Product,Kibana ID,Sold Flat,Execution Amount
0,1034568,2023-11-19,HILL COUNTY,Hyderabad,VMS only,8a96ea418be86c04018bed09cac51a51,1166,153800.0
1,1034938,2023-12-21,SAMHITA CASTLE,Bangalore,Both VMS + ERP,8a96c3848ca6f770018caa0ff5902035,103,NaN
2,1035193,2024-01-05,Shriram Luxor,Bangalore,Both VMS + ERP,8a96e0848d417645018d447ec2340682,444,3500.0
3,1035163,2024-01-05,VAISHNAVI SERENE,Bangalore,VMS only,8a96e0848d417645018d444199340119,896,NaN
4,1035046,2024-01-05,TATA SEREIN,Navi Mumbai - Thane,VMS only,8a96ca838d251b42018d2655cbd303d9,638,NaN
...,...,...,...,...,...,...,...,...
68,1038787,2024-12-21,HIRANANDANI REGENT HILL E WING,Mumbai,VMS only,8a96a1d293fea8be01940290e81933a8,211,50000.0
69,1038786,2024-12-21,HIRANANDANI REGENT HILL A WING,Mumbai,VMS only,8a96a1d293fea8be01940220f6681246,200,NaN
70,1038784,2024-12-21,HIRANANDANI REGENT HILL B WING,Mumbai,VMS only,8a96a1d293fea8be019401cf52320857,200,NaN
71,1038782,2024-12-21,HIRANANDANI REGENT HILL C WING,Mumbai,VMS only,8a96a1d293fea8be019401d300a908b2,200,NaN
72,1038785,2024-12-21,HIRANANDANI REGENT HILL D WING,Mumbai,VMS only,8a96a1d293fea8be019401d96428091a,210,NaN

In [ ]:
spreadSheetId = "1Gl--PIaW3w6YESiHWUuUkzXC9VILWAz4B-e2D2lGBdg"
rangeName = "data"

wb = gc.open_by_key(spreadSheetId)
ws = wb.worksheet(rangeName)
ws.clear()
# APPEND DATA TO SHEET
set_with_dataframe(ws, merge)